<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/intelcomex</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">lujoca12</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="Pojo/TbDetallefactura.hbm.xml"/>
    <mapping resource="Pojo/TbPais.hbm.xml"/>
    <mapping resource="Pojo/TbParametrodetalle.hbm.xml"/>
    <mapping resource="Pojo/TbFactura.hbm.xml"/>
    <mapping resource="Pojo/TbPedidos.hbm.xml"/>
    <mapping resource="Pojo/TbParametro.hbm.xml"/>
    <mapping resource="Pojo/TbDetallepedidos.hbm.xml"/>
    <mapping resource="Pojo/TbDetallePermiso.hbm.xml"/>
    <mapping resource="Pojo/TbTipoempresa.hbm.xml"/>
    <mapping resource="Pojo/TbProducto.hbm.xml"/>
    <mapping resource="Pojo/TbCanton.hbm.xml"/>
    <mapping resource="Pojo/TbPermiso.hbm.xml"/>
    <mapping resource="Pojo/TbPersona.hbm.xml"/>
    <mapping resource="Pojo/TbProvincia.hbm.xml"/>
    <mapping resource="Pojo/TbInventario.hbm.xml"/>
    <mapping resource="Pojo/TbParroquia.hbm.xml"/>
    <mapping resource="Pojo/TbUsuarios.hbm.xml"/>
    <mapping resource="Pojo/TbTipoUsuario.hbm.xml"/>
    <mapping resource="Pojo/TbEmpresa.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
